.image-group {
  position: relative;
  top: 0;
  left: 0;

  img {
    max-width: 300px;
  }

  img:first-child {
    border-radius: 16px;
    position: relative;
    max-width: 300px;
    left: 0;
    top: 0;
  }

  img:nth-child(even) {
    border-radius: 16px;
    position: absolute;
    max-width: 300px;
    left: 30px;
    top: 30px;
  }
}


