.roulette-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.roulette-container::-webkit-scrollbar{
  display: none;
}

.for-roulette {
  flex: 0 0 auto;
  margin: 0px 20px auto 0px !important;
  max-width: 280px;
}

.testimonial-content::first-letter {
  font-size: 1.7rem;
  font-weight: bolder;
}
