.card-selector-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: stretch;
  max-height: 800px;
  overflow-y: auto;
}

.card-selector-container::-webkit-scrollbar{
  display: none;
}
