.card-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: stretch;
}

.card-title-section {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  button {
    margin-top: 7px;
  }
}
