@import "../../variables.scss";

.nav-space {
  display: flex;
  @media (max-width: 1023px) {
    background-color: none;
  }
}

.brand-logo {
  max-height: 3.5rem !important;
}

.is-opened {
  flex-direction: column;
}

a {
  font-weight: 600;
}
