@import "../../variables.scss";

.footer-section {
  font-weight: bold;
  h2 {
    text-align: center;
    font-weight: 600;
    line-height: 1.125;
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0 !important;
    li{
      list-style: none;
      text-align: center;
      color: $softWhite;
      a {
        color: $softWhite;

      }
      a:hover {
        color: $info;
      }
    }
  }
}
