@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500;600&display=swap');
// variables
@import "./variables.scss";
// Import only what you need from Bulma
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/utilities/_all.sass";

html, body {
  margin: 0;
  min-height: 100%;
  position:relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}

button {
  font-weight: bold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spaced {
  margin: auto;
  width: 100%;
  @media (min-width: 1330px) {
    width: 1280px;
  }
}
