// Set your brand colors
$olive: #495e57;
$lime: #b7efdc;
$lemonade: #f4ce14;
$grapefruit: #ee9972;
$sand : #fbdabb;
$softWhite: #edefee;
$softBlack: #333333;

// Update Bulma's global variables
$family-sans-serif: "Karla", sans-serif;
$primary: $olive;
$link: $lemonade;
$info: $sand;
$success: $lime;
$danger: $grapefruit;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$body-overflow-y: auto;
$footer-background-color: $primary;
$footer-color: $softWhite;
$footer-padding: 1.5rem;
$control-radius: 16px;
$card-radius: 16px;
